.gmail {
    background-color: black;
    padding: 100px 0;
    border-bottom: 1px solid white;
}

.inner_gmail {
    display: flex;
    gap: 10px 0;
    align-items: center;
    flex-direction: column;
}

.move_block {
    background: black;
    padding: 100px 0;
    border-bottom: 2px solid orange;
}

.inner_move_block {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px 0;
}

.parent_block {
    height: 500px;
    width: 500px;
    border: 2px solid orange;
    position: relative;
}

.child_block {
    position: absolute;
    width: 50px;
    height: 50px;
    background: red;
    left: 0;
}

.stopwatch {
    background-color: black;
    padding: 100px;
}

.stopwatch_inner {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 50px 0;
}

.stopwatch_buttons {
    display: flex;
    justify-content: space-between;
    width: 400px;
}

.stopwatch_number {
    color: white;
}

.button1 {
    background-color: black;
    border: 2px solid orange;
    border-radius: 10px;
    padding: 10px;
    color: white;
    cursor: pointer;
}
